@charset "UTF-8";

@import "normalize.css";

/**
 * Preliminary styles for the application.
 *
 * This uses the BEM methodology:
 * http://getbem.com/naming/
 */

:root {
  /* Positioning */
  --page-gutter:         1rem;  /* Space on either side of the viewport. */
  --header-stripe-width:  8px;  /* Width of the "stripe" to the left of the title. */

  /* Colors */
  --application-bg-color:       #F7F7F7; /* Background color of the entire application. */
  --application-title-color:    #0091FF; /* Color of the "itwêwina" title. */
  --application-subtitle-color: #000000; /* Color of "Plains Cree Dictionary" */
  --cite-text-color:            #1A2635; /* Color of dictionary citation element. */

  --footer-bg-color:            #EBE9E9; /* Background color of the "sunken" footer. */
  /* TODO: should this be the same as the title color? */
  --header-stripe-color:        #115FE8; /* Color of the "stripe" to the left of the title. */
}

* {
  box-sizing: border-box;
}

/**
 * Use this template to make your own BEM rule:
 */
.block, .block__element, .block--modifier {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

/******************************* APPLICATION *******************************/

/**
 * BLOCK application
 *
 * A block for the ENTIRE application.
 */
.application {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /* Color */
  background: var(--application-bg-color);
}

.application__content {
  flex: 1;
}

.application__panel {
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
}

/********************************* HEADINGS *********************************/

.application-header {
  /* Display & Box Model */
  width: 100vw;
  padding: 0 var(--page-gutter);
  margin: 0 0 .75rem;
  background: transparent;  /* Fallback */
  background: linear-gradient(to right, var(--header-stripe-color) 0%,
                                        var(--header-stripe-color) var(--header-stripe-width),
                                        rgba(0,0,0,0) var(--header-stripe-width),
                                        rgba(0,0,0,0) 100%);
}

.application-header__heading {
  /* Display & Box Model */
  margin: 0 auto;
}

/**
 * BLOCK  application-title
 *
 * The main title of the application.
 */
.application-title {
  /* Color */
  color: var(--application-title-color);

  /* Text */
  font: 24px/normal "Trebuchet MS", sans-serif;
  letter-spacing: 3px;
}

/**
 * BLOCK application-subtitle
 *
 * The subtitle of the application.
 */
.application-subtitle {
  /* Color */
  color: var(--application-subtitle-color);
  font: normal 300 12px/normal OpenSans, sans-serif;
}

/**************************** APPLICATION FOOTER ****************************/

/**
 * BLOCK application-footer
 *
 * The footer at the bottom of the application.
 */
.application-footer {
  /* Display & Box Model */
  display: flex;
  width: 100vw;
  /* Color */
  background-color: var(--footer-bg-color);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
  /* Other */
  flex-wrap: wrap;
  align-items: center;
}

/**
 * ELEMENT application-footer__logo
 *
 * A logo inside the footer
 */
.application-footer__logo {
  /* Positioning */
  flex: 1;
  /* Display & Box Model */
  margin: 4px .5rem;
  /* Text */
  text-align: center;
}

.application-footer__logo > img {
  max-width: 33vw;
  max-height: 8em;
}

/****************************** INLINE MARKUP ******************************/

/**
 * BLOCK cite-dict
 *
 * A block that cites a dictionary source.
 */
.cite-dict {
  /* Color */
  color: var(--cite-text-color);
  /* Text */
  font: normal normal 900 11px/normal sans-serif;
}

/**
 * Non-BEM styles.
 */

td[rowspan] {
  vertical-align: top;
}
