@charset "UTF-8";

@import "normalize.css";

/**
 * Preliminary styles for the application.
 *
 * This uses the BEM methodology:
 * http://getbem.com/naming/
 */

:root {
  /* Positioning */
  --page-gutter:         1rem;  /* Space on either side of the viewport. */
  --header-stripe-width:  8px;  /* Width of the "stripe" to the left of the title. */

  /* Colors */
  --app-bg-color:           #F7F7F7; /* Background color of the entire application. */
  --app-title-color:        #0091FF; /* Color of the "itwêwina" title. */
  --app-body-color:         #000000; /* Color of "Plains Cree Dictionary" */
  --cite-text-color:        #1A2635; /* Color of dictionary citation element. */
  --footer-bg-color:        #EBE9E9; /* Background color of the "sunken" footer. */
  /* TODO: should this be the same as the title color? */
  --header-stripe-color:    #115FE8; /* Color of the "stripe" to the left of the title. */
  --search-border-color:    #979797;
  --search-focus-color:     #1C9DFE; /* Color of the search bar when focused */

  --heading-font-family: Raleway, Euphemia UCAS sans-serif;
  --body-font-family: Open Sans, Euphemia UCAS, sans-serif;
}

* {
  box-sizing: border-box;
}

/**
 * Use this template to make your own BEM rule:
 */
.block, .block__element, .block--modifier {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

/******************************* APPLICATION *******************************/

/**
 * BLOCK application
 *
 * A block for the ENTIRE application.
 */
.application {
  /* Display & Box Model */
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /* Color */
  color: var(--app-body-color);
  background: var(--app-bg-color);

  /* Text */
  font: normal normal 16px/normal var(--body-font-family);
}

.application__content {
  flex: 1;
}

.application__panel {
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
}

/********************************* HEADINGS *********************************/

.application-header {
  /* Display & Box Model */
  width: 100vw;
  padding: 0 var(--page-gutter);
  margin: 0 0 .75rem;
  background: transparent;  /* Fallback */
  background: linear-gradient(to right, var(--header-stripe-color) 0%,
                                        var(--header-stripe-color) var(--header-stripe-width),
                                        rgba(0,0,0,0) var(--header-stripe-width),
                                        rgba(0,0,0,0) 100%);
}

/* A link directly within the header is treated normally. */
.application-header > a:link {
  color: inherit;
  text-decoration: none;
}

.application-header__heading {
  /* Display & Box Model */
  margin: 0 auto;
}

/**
 * BLOCK  application-title
 *
 * The main title of the application.
 */
.application-title {
  /* Color */
  color: var(--app-title-color);

  /* Text */
  font: 500 24px/normal var(--heading-font-family);
  letter-spacing: 3px;
}

/**
 * BLOCK application-subtitle
 *
 * The subtitle of the application.
 */
.application-subtitle {
  /* Text */
  font-weight: 300;
  font-size: 12px;
}

/**************************** APPLICATION FOOTER ****************************/

/**
 * BLOCK application-footer
 *
 * The footer at the bottom of the application.
 */
.application-footer {
  /* Display & Box Model */
  width: 100vw;
  /* Color */
  background-color: var(--footer-bg-color);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
}

.application-footer__about {
  margin: .1rem var(--page-gutter);
  text-align: center;
  line-height: 1.1;
  color: #555;
}

/**
 * BLOCK partner-logos
 *
 * Contains logos, primarily in the footer.
 */
.partner-logos {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  /* Other */
  flex-wrap: wrap;
  align-items: center;
}

/**
 * ELEMENT partner-logos__logo
 *
 * One particular logo.
 */
.partner-logos__logo {
  /* Positioning */
  flex: 1;
  /* Display & Box Model */
  margin: 4px .5rem;
  /* Text */
  text-align: center;
}

.partner-logos__logo > img {
  max-width: 33vw;
  max-height: 8em;
}

/********************************** SEARCH **********************************/

/**
 * BLOCK search
 *
 * The main search panel.
 */
.search {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

/**
 * ELEMENT advanced search.
 */
.search__advanced  {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

.search__search-bar {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

/**
 * BLOCK search bar
 */
.search-bar {
  /* Positioning */
  position: relative;
  /* Display & Box Model */
  display: flex;
  width: 100%;
  /* Color */
  /* Text */
  font-size: 24px;
  /* Other */
}

/**
 * ELEMENT search label
 *
 * The label that says "Search: "
 */
@media screen {
  .search-bar__label {
    display: none;
  }
}

/**
 * ELEMENT search input
 */
.search-bar__input {
  /* Positioning */
  /* Display & Box Model */
  flex: 1;
  padding: 4px 1rem;
  border: solid 1px var(--search-border-color);
  /* Color */
  /* Other */
  border-radius: 15px;
  /* Has a nice animation when the search bar receives focus. */
  box-shadow: 0 0 0 transparent;
  transition: box-shadow .125s;
}

/* Inspiration: https://codepen.io/himalayasingh/pen/dqjLgO */

.search-bar__input:focus {
  box-shadow: 0 0 0 1px white,
              0 0 0 4px var(--search-focus-color);
}

.search-bar:invalid .search-bar__button {
  opacity: 50%;
  cursor: not-allowed;
}

.search-bar__button {
  position: absolute;
  right: 0;

  display: inline-block;
  height: 100%;
  width: 2em;
  border: 0;

  background: transparent;

  cursor: pointer;
}

.search-bar__button > img {
  margin-top: .125em;
  height: 1.125em;
}

/****************************** INLINE MARKUP ******************************/

/**
 * BLOCK cite-dict
 *
 * A block that cites a dictionary source.
 */
.cite-dict {
  /* Color */
  color: var(--cite-text-color);
  /* Text */
  font: normal normal 900 11px/normal sans-serif;
}

/**
 * Non-BEM styles.
 */

td[rowspan] {
  vertical-align: top;
}
